---
layout: home.liquid
---
<div class="section hero">

  <div class="image-layer"></div>

  <div class="hero-inner">

	<h1>Dwelling Space Counselling</h1>

	<!-- <p>"can we have quotes that change, across the image?" - Someone</p> -->

  </div>

</div>

<div class="section">

  <div class="section-cols">

	<div class="section-cols-main">

	  <h2>Welcome</h2>

	  <p>I’m <b>Alison Thorpe,</b> an experienced counsellor working in Brighton. I also work online using Zoom.</p>

	  <p>My approach is <b>person-centred</b> and <b>focusing-oriented</b>. I provide a safe space where you can talk about what you need to and what you're struggling with at this point in your life. </p>

	  <p>It's easy to <a href="#contact">contact me.</a> Together we can start a conversation about how we can work together to support you and towards happier living. </p>

	  
	</div>

	<div class="section-cols-aside">

	  <img src="/static/alison4.jpg" alt="Photo of Alison Thorpe in counselling chair" />

	</div>

  </div>

</div>

<div class="section blue">

  <a name="about" class="page-anchor"></a>

  <div class="section-cols">

	<div class="section-cols-main">

	  <h2>Counselling with me</h2>

	  <p>Painful feelings and reactions can get in the way of living. When someone listens and is fully present with us, we can listen to what hurts inside. Learning to hear ourselves, with compassion, accompanied by a caring other can be a very healing process.</p>

	  <p>New ways forward emerge, you become more able to cope, make decisions you couldn’t before, or express yourself as once you could not. It may be surprising to discover what has been holding you back.</p>


	</div>

	<div class="section-cols-aside">

	  <div class="infobox">

		<h3>Inner resources</h3>
		<img src="/static/inner_resources_3.jpg" alt="picture of inner light and growth" />
		<!-- <blockquote>Image of light here</blockquote> -->

		<p>We all have an inner knowing of what is right for us. I will work with you to find your inner resources so you can navigate your life with less stress. </p>


	  </div>

	</div>

  </div>

</div>

<div class="section">

<h2>Focusing-oriented</h2>

<blockquote>Every bad feeling is potential energy toward a more right way of being if you give it space to move toward its rightness. 
<br>— Gene Gendlin</blockquote>

<p>Giving gentle attention to how our <b>body</b> experiences our life situations can really get to the <b>heart</b> of what is stuck or unchanging, and bring a huge amount of <b>healing</b>. We can then live with a new freedom. </p>

<p>Our feelings express themselves in and through our body. For example, stress might be felt in the throat, or anxiety in the belly, grief or overwhelming sadness in our chest and heart. I can help you pay gentle and friendly attention to these places in you that might be asking for attention and care, and the opportunity to tell their story.</p>




</div>

<div class="section green">

  <h2>Trauma</h2>
  <p>Focusing is particularly effective in healing unresolved trauma. This can be from childhood abuse (sexual, physical, emotional, neglect), as well as all sorts of other traumas and issues, including addictions. <!-- I am writing about healing from trauma and dissociation for the blog section of this website. --> <a href="#contact">Please contact me</a> if you would like to talk through how focusing-oriented therapy and focusing can help your recovery. </p>

	 </div>


<div class="section">

<h2>Focusing</h2>

	<p>If you would like to work with me to <b>learn focusing</b> as a <b>self-help</b> practice, or you would like to deepen your focusing experience, you are very welcome to contact me to discuss what you need. Focusing can work in person or over video link. </p>

<p>I am also very open to supporting your self-discovery through <b>art and imagery</b> during counselling or focusing sessions.</p>

</div>

<div class="section blue">

<h2>Why counselling?</h2>

<p><b>Making sense : </b>however stuck or unhappy we feel, however weird, scary or deeply distressing our experiences, these make very good sense when we understand them as a natural reaction to what life has thrown at us. This includes childhood experiences, losses, painful dilemmas in adult life, as well as the social and economic conditions we are living in, or society’s view of how we should be.</p>

<p>I've helped people with:</p>

<div class="list-cols">
<ul>
<li>depression and feeling low</li>
<li>self-criticism</li>
<li>anxiety</li>
<li>relationship difficulties</li>
<li>parenting issues</li>
<li>bereavement</li>
<li>childhood trauma including sexual abuse</li>
<li>loneliness and social isolation</li>
<li>discrimination</li>
<li>work or the lack of work</li>
<li>gender identity</li>
<li>low self esteem, lack of confidence</li>
<li>addictions</li>
<li>hearing voices</li>
<li>bullying</li>
<li>self-harm</li>
<li>growing older</li>
</ul></div>

<p>You may also want counselling because you are experiencing life in ways that are hard to describe - feeling stuck, feeling life has no meaning, feeling numb, feeling reactive to everything, being in conflict with other people or in conflict within yourself, having difficulty making decisions, feeling unfulfilled. You may feel that there is more that you want in life but don’t know how to find it.</p>

</div>

<div class="section">

  <a name="contact" class="page-anchor"></a>

  <h2>Contact information and fees</h2>

    <p><b>Alison Thorpe</b><br>
  <b>0772 803 6688</b><br>
  <b><a href="mailto:dwellingspacecounselling@gmail.com">dwellingspacecounselling@gmail.com</a></b></p>

<p><b>Counselling</b>: I charge <b>£50</b> for a 60 minute session. I am open to working for a longer session length than this (room bookings permitting) and the cost of this is negotiable between us.</p>

<p>You are welcome to contact me for an initial conversation, eg over the phone or email. If you would like to, you can then book an in-person session to see if working with me feels right for you. If after this you want to continue, I will hold a regular slot for our sessions together.</p>


	<p>I am a registered member of the National Counselling Society, and abide by their Ethical Framework.</p>

 <iframe style="border: none;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAUZEiHwzRkr0Q7zcDQ3EcKs_CIRtHi1c&q=148+Portland+Road,+Hove+BN3+5QL"></iframe>
 
<style>#therapyhubLink{display:block;background:#eceaf1;padding: 10px;max-width: 311px;margin: 15px 0;}</style><a id="therapyhubLink" href="https://www.brightonandhovetherapyhub.co.uk/" target="_blank" title="Brighton & Hove Therapy Hub"><img style="width:100%" src="https://www.brightonandhovetherapyhub.co.uk/wp-content/uploads/2021/01/therapy_hub_logo.png" alt="I am a member of Brighton & Hove Therapy Hub" /></a>


</div>
</div>

<div class="section green">

  <a name="contact" class="page-anchor"></a>

  <h2>Qualifications</h2>

  <p><b>Diploma in Person-centred Counselling</b>, City Lit, London.</p>
  <p>I have been counselling people for 8 years.</p>


<p>Certified <b>Focusing Practitioner</b> with the <b>British Focusing Association</b></p>
	<p>I have been focusing and helping other people with focusing for 10 years.</p>

  <p>I have counselled people at a drug and alcohol project in South London (TTP, Trust the Process, Lewisham) (2014-2015) and at a mental health wellbeing centre in Hackney (The Centre for Better Health, 2015-2017). </p>
  <!-- <p><b>LINKS</b></p>
  <p>Focusing links, books and reading matter</p> -->

  </div>
